* {
   scrollbar-width: thin;
   scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

::-webkit-scrollbar {
   width: 5px;
}

::-webkit-scrollbar-track {
   background: transparent;
}

::-webkit-scrollbar-thumb {
   background-color:  rgba(155, 155, 155, 0.5);
   border-radius: 20px;
   border: transparent;
}

.library {
   position: fixed;
   background: rgb(250, 250, 250);
   top: 0;
   left: 0;
   width: 20rem;
   height: 100%;
   box-shadow: 2px 2px 50px rgb(233, 232, 232);
   overflow: scroll;
   transform: translateX(-100%);
   opacity: 0;
   transition: all 0.5s ease;
   h2 {
      padding: 2rem;
      text-align: center;
   }
}

.library-open {
   transform: translateX(0%);
   opacity: 1;
}

.library-song{
   display: flex;
   align-items: center;
   padding: 1rem 2rem 1rem 2rem;
   cursor: pointer;
   transition: all 0.75s ease-out;
   img {
      width: 35%;
   }

   &:hover {
      background-color: rgba(178, 188, 246, 0.5);
   }
}

.song-description {
   padding-left: 1rem;
   h3{
      font-size: 1rem;
   }
   h4 {
      font-size: 0.7rem;
   }
}

.selected-song {
   background:  rgba(154, 167, 245, 0.5);
}

@media screen and (max-width: 768px) {
   .library {
     width: 100%;
   }
 }

